@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}


button, input, div {
  @apply transition-all duration-200;
}


button:not(:disabled):hover {
  @apply transform scale-[1.02];
}


button:not(:disabled):active {
  @apply transform scale-[0.98];
}


body {
  @apply antialiased;
}